@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-roboto: "Roboto", sans-serif;
  }
  body {
    @apply font-roboto;
  }
  input:focus-visible {
    outline: none;
  }
}

@layer components {
  .btn {
    @apply rounded py-1 px-3 ease-in-out duration-200;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
